# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.ssh/*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv
backend

/fastapi-mongo
/farmstack-project

/fast-api
.vscode

.env
#luis local
/fast-api/venv
/fast-api/__pycache__/main.cpython-38.pyc

# /fast-api/__pycache__

/node_modules

# Uj local
dcuf.bat
/fast-api/venv
/fast-api/__pycache__
/fast-api/win_local.bat


# is local
dcuf.sh
mac_local.sh


# test results
/tests/integration/results

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
