:root {
  --black: #24292e;
  --white: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
}
.App {
  position: relative;
}

.navbar {
  background-color: var(--black);
  border-bottom: 1px solid #e9ecef;
  padding: 2em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  transition: all 0.3s;
  color: white;
  position: sticky;
}

.navbar__menu {
  font-size: 2rem;
  margin-left: auto;
  cursor: pointer;
  /* margin-right: 0.2em; */
}
.navbar__list {
  list-style-type: none;
}

.navbar__nav {
  background-color: var(--black);
  display: none;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  color: white;
  padding: 2.5em;
  font-size: 1.15em;
  width: 50%;
  z-index: -999;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
}

.navbar__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.open {
  display: block;
  /* animation: slide-in ease-in-out 0.5s; */
  transform: translateX(0);
}
.closed {
  display: block;
  /* animation: slide-out ease-in-out 0.5s; */
  transform: translateX(100%);
}

.active {
  color: #adbac7;
  text-decoration: underline;
}

/* @keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
} */

/* .hide-sidebar {
  display: block;
  animation: slide-out ease-in-out 0.5s;
  transform: translateX(100%);
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
} */
.navbar__list {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
}
.navbar__list__item {
  margin: 0.8em 0;
}
.navbar__list__item__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 60vh;
}

.home__title {
  font-size: 2.3rem;
  margin: 0.5em 0;
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  width: 450px;
}
.home__input {
  border-radius: 5px;
  width: 100%; /* Set a fixed width */
  margin-right: 0.5em;
  font-size: 1rem;
  padding: 0.5em;
  overflow: visible;
}

.home__search {
  /* font-size: 1.2rem; */
  background-color: var(--black);
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}
.home__link {
  margin: 0.5em 0;
  font-size: 1.2rem;
}
.home__content {
  background-color: var(--black);
  border-radius: 5px;
  padding: 1em;
  width: 90%;
  color: white;
  margin: 0.5em 0;
}
.home__number,
.home__link {
  text-decoration: underline;
  font-weight: bold;
}

/* guide page */
.guide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 70vh;
}
.guide__title {
  font-size: 1.5rem;
  margin: 0.5em 0;
  font-weight: bold;
}
.guide__subtitle {
  font-size: 1.3rem;
  margin: 0.5em 0;
}
.guide__content__title {
  margin: 1em 0;
}
.guide__content__description {
  font-size: 1rem;
  margin: 0.8em 0;
  line-height: 1.5;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

/* story */
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}
.story__title {
  font-size: 1.5rem;
  margin: 0.5em 0;
  font-weight: bold;
}
.story__description {
  font-size: 1rem;

  padding: 0.8em 1em;
  margin: 0.5em 0;
  line-height: 1.5;
  text-align: left;
}
.story__subtitle {
  font-size: 1.3rem;
  margin: 0.5em 0;
}

.team__title {
  font-size: 1.2rem;
  margin: 0.5em 0;
}

.team__list {
  list-style: none;
}
.team__list__item {
  font-size: 1.1rem;
  margin: 0.5em 0;
  font-weight: bold;

  color: #5b6166;
}

/*  contact */
.contact,
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.contact__title {
  font-size: 2rem;
  margin: 0.5em 0;
}
.contact__subtitle {
  font-size: 1.5rem;
  margin: 0.5em 0;
}
.contact__description {
  text-align: center;
  font-size: 1rem;
  padding: 0.5em;
  line-height: 1.5rem;
}

.contact__form {
  width: 100%;
  text-align: left;
}
.contact__form textarea {
  width: 70%;

  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 5px;
  border: 1px solid #5b6166;
}
.contact__form label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #5b6166;
  text-align: left;
}
.contact__form input {
  width: 70%;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 1px solid #5b6166;
}
.contact__submit {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 0.5em;
}

.source {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.source__title {
  font-size: 2rem;
  margin: 0.5em 0;
}

.source__link {
  margin: 0.5em 0;
  padding: 1em;
  text-align: left;
}

/* details*/

.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  position: relative;
}
.details__title {
  font-size: 2rem;
  margin: 0.5em 0;
  font-weight: bold;
}

.details__card,
.card {
  border-radius: 5px;
  border: 1px solid black;
}

.details__card__title,
.card__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  background: #2d333b;
  color: #adbac7;
  padding: 0.5em;
}

.detail__body {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em;
}
.detail__depature {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.detail__arrival {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.detail__depature__title,
.detail__arrival__title {
  font-size: 2rem;
  margin-bottom: 0.9em;
}

.detail__gate,
.detail__depature__time,
.detail__arrival__time {
  margin-bottom: 0.8em;
  font-size: 1.2rem;
}

.detail__gate__title {
  font-size: 1rem;
}
.detail__depature__local,
.detail__arrival__local,
.detail__depature__utc,
.detail__arrival__utc {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}

.utc__container {
  background-color: #5b6166;
  border-radius: 5px;
  padding: 0.9em 0.5em;
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: end;
  position: absolute;

  right: 0;
  opacity: 0.6;
}

/* card*/
.card {
  margin: 0.8em 0;
}
.card__body {
  display: none;
}
.card__title {
  text-transform: capitalize;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  padding: 0.8em 0;
  align-items: center;
  cursor: pointer;
}

.card__icon {
  font-size: 1rem;
  margin-right: 0.3em;
}
.card__depature__title {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0.5em;
  border-bottom: 1px solid #333537;
  font-weight: bold;
}
.card__depature__subtitle {
  border-bottom: 1px solid #333537;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 0;
}

.card__depature__subtitle__title {
  margin-right: 0.5em;
  font-size: 1.3rem;
}

.card__depature__details {
  border-bottom: 1px solid #333537;
  padding: 0.8em 1em;
}
.card__route__text {
  font-size: 1.2rem;
  margin: 0.5em 0;
}
.card__route__link {
  text-decoration: underline;
  color: rgb(158, 156, 155);
  margin-left: 0.5em;
  font-size: 1rem;
}

/* table*/
.table__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 2em;
}
.table__title {
  font-size: 2rem;
  margin: 0.5em 0;
  font-weight: bold;
}
.table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 0 2px #474350;
  color: #ffffff;
  background: #2d333b;
}

.table__header {
  background-color: #2d333b;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
.table__header th {
  padding: 0.5em;
  text-align: left;
}

.table tr:nth-child(odd) td {
  background-color: #ffffff;
  color: black;
  padding: 0.8em;
  text-align: left;
}
.table tr:nth-child(even) td {
  text-align: left;
  color: #ffffff;
  padding: 0.8em;
}

@media (min-width: 500px) {
  .navbar__menu {
    display: none;
  }

  .navbar__nav {
    display: flex;
    flex-direction: row;
    color: white;
    position: static;
    width: 100%;
    z-index: 0;
    transform: translateX(0);
    background: none;
  }
  .navbar__list {
    margin-left: auto;
    flex-direction: row;
  }
  .navbar__list__item {
    margin: 0 1em;
  }
  .navbar__list__item :hover {
    color: #adbac7;
    text-decoration: underline;
  }
}
